/*!
 * TimeLibrary v1.0.4 - web application
 * https://github.com/vedees/timelibrary
 * Copyright (C) 2018 Vedegis Evgenii <vedegis@gmail.com>
 * @license GPL-3.0
 * https://github.com/vedees/timelibrary/master/LICENSE
 */

// utils
@import 'utils/mixin.styl'
@import 'utils/vars.styl'

// base
  // animation
@import 'base/animation.styl'
  // preloader
@import 'base/preloader.styl'
  // modal
@import 'base/modal.styl'
  // message
@import 'base/message.styl'

//font
body
  font-family Montserrat

// TODO fix UImini
.wrapper
  max-width unset

.blur
  filter: blur(1.6px);
