.ui-messageBox__wrapper
  display: flex;

// TODO fix in UImini
.ui-messageBox__wrapper
  transition: opacity .3s ease;
.ui-messageBox
  transition: all .3s ease;

.ui-messageBox__footer
  .button
    margin-right 12px
    &:last-child
      margin-right 0
